menu "CPU architecture"

choice 
	prompt "ARM system type"

	default ARCH_ARM_CORTEXM0P if SRCARCH = "cm0p"
	default ARCH_ARM_CORTEXM3 if SRCARCH = "cm3"
	default ARCH_INTEL_8051 if SRCARCH = "intel_8051"

config ARCH_ARM_CORTEXM0P
	bool "ARM Cortex-M0+"

config ARCH_ARM_CORTEXM3
	bool "ARM Cortex-M3"

config ARCH_INTEL_8051
	bool "Intel 8051"
	
endchoice

endmenu
